<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Book Reservation - Welcome and choose a Book</title>
    <style>
        body {
            width: 100%;
            height: 100%;
            background-color:whitesmoke;
            /*box-sizing: border-box;*/
            margin: 10px;
            font-family: Arial, sans-serif;
            overflow-x:hidden;
            padding-bottom:20px;
        }
        h1 {
            color: #333;
        }
        form {
            margin-top: 20px;
        }
        .book-option {
            margin: 10px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
        .book-option:hover {
            background-color: #f5f5f5;
        }
        button{
            border:none;
            color: #fdfdfd;
            font-weight: bold;
            margin-left:5px;
            margin-right:5px;
            border-radius:5px;
            padding:5px;
            cursor: pointer;
            text-decoration:none;
            background-color: rgba(0,0,0, 0.8);
            /*color: whitesmoke;*/
        }
        .editBtn{
            background-color: #ffca28;
            float:right;
        }
        .deleteBtn{
            background-color: #ef5350;
            float: right;
        }
        div.buttonForm{
            width:50%;
            height:100%;
        }
    </style>
</head>
<body>
<div  xmlns:th="http://www.thymeleaf.org"   xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header>
    <div style="display:flex; flex-direction:row; width:100%; align-items:center;">
        <h1>Welcome to our Book Reservation App</h1>
        <div style="margin-left:auto; margin-right:100px;">
            <h2>User:</h2>
            <p th:if="${username != null && !username.isEmpty()}" th:text="${username}"></p>
            <form th:if="${username != null && !username.isEmpty()}" action="/logout" method="get">
                <button type="submit">Logout</button>
            </form>

            <form th:if="${username == null || username.isEmpty()}" action="/login" method="get">
                <button type="submit">Login</button>
            </form>

        </div>
    </div>
</header>

<h1 th:if="${error != null}" th:text="'ERROR: ' + ${error}" style="color:red"></h1>

<main style="width:100vw; height:100vh; display:flex; flex-direction:row;">
    <!--BOOKS LIST AND FORMS - LEFT SIDE -->
    <div style="display:flex; flex-direction:column; height:100%; width:70%; padding-left:25px" class="right">
        <div style="width:100%; display:flex; flex-direction:row;">
            <div style="flex-grow: 1;">
                <form action="" method="GET" style="width:fit-content;">
                <h2>Search for books:</h2>
                <label for="searchQuery">
                    <span>Book title: </span>
                    <input type="text" name="searchQuery" id="searchQuery" th:value="${searchQuery}">
                </label>
                <br/>
                <label for="averageRating">
                    <span>Choose rating: </span>
                    <input type="number" min="0.0" max="5.0" step="0.1" name="averageRating" id="averageRating" th:value="${rating}">
                </label>
                    <br>
                    <div>
                        <label for="authorId">Author</label><br/>
                        <select id="authorId" name="authorId">
                            <option value=""></option>
                            <option th:each="a : ${authors}"
                                    th:value="${a.getId()}"
                                    th:text="${a.getName() + ' ' + a.getSurname()}">
                        </select>
                    </div>
                <br/>
                <label for="search">
                    <input type="submit" id="search">
                </label>
            </form>
            </div>
        </div>

        <div style="display:flex; flex-direction:row">
            <div style="height:100%; width:85%; ">
                <form style="padding-bottom:20px;" action="/bookReservation" method="POST">
                    <h2>Choose a book:</h2>
                    <ul style="list-style-type:none;">
                        <li th:each="book : ${booksList}" class="book-option" style="padding-top: 7px; padding-bottom: 7px;">
                            <label th:for="${book.getTitle()}">
                                <input
                                        th:id="${book.getTitle()}"
                                        type="radio"
                                        name="bookTitle"
                                        th:value="${book.getTitle()}"
                                />
                                <span th:text="|
                                    Title: ${book.getTitle()},
                                    Genre: ${book.getGenre()},
                                    Rating: ${book.getAverageRating()},
                                    Author: ${book.getAuthor().getName()} ${book.getAuthor().getSurname()}
                                |">
                                </span>
                            </label>
                        </li>
                    </ul>

                    <h2>Enter your information:</h2>

                    <label for="readerName">Your Name:</label>
                    <input type="text" name="readerName" id="readerName" required /><br/>

                    <label for="readerAddress">Your Address:</label>
                    <input type="text" name="readerAddress" id="readerAddress" required><br/>

                    <h2><label for="numberOfCopies">number of copies: </label></h2>
                    <input type="number" name="numberOfCopies" min="1" max="5" id="numberOfCopies" required /><br/>
                    <br/>

                    <input type="hidden" name="userIpAddress" th:value="${userIpAddress}" />

                    <input type="submit"  value="Reserve Book">
                </form>
            </div>
            <div style="height:100%; width:15%; ">
                <br>
                <br>
                <ul style="list-style-type:none; margin-top:30px;">
                    <li th:each="book : ${booksList}" style="height:20px; padding-top: 7px; padding-bottom: 7px; margin: 12px 0;">
                        <div style="width:100%; height:100%; display:flex; flex-direction:row; align-items:center; justify-content:center;">
                            <div sec:authorize="hasRole('ADMIN')" class="buttonForm" style="">
                                <form th:action="@{'/books/book-form/{id}' (id=${book.getId()})}" method="GET" style="width:100%; height:100%; margin:0; padding:5px;">
                                    <button class="editBtn" type="submit">Edit</button>
                                </form>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')" class="buttonForm">
                                <form th:action="@{'/books/delete/{id}' (id=${book.getId()})}" method="POST" style="width:100%; height:100%; margin:0; padding:5px;">
                                    <button class="deleteBtn" type="submit">Delete</button>
                                </form>
                            </div>
                        </div>

                    </li>
                </ul>
                <div sec:authorize="hasRole('ADMIN')" style="display:flex; align-items:center; justify-content:center;  box-sizing:border-box; margin-left:87px;  font-weight:bold; border:none; border-radius:5px; background-color:lightgreen; padding:3px;">
                    <a href="/books/book-form" style="text-decoration:none; color:white;">Add book</a>
                </div>
            </div>
        </div>

    </div>

    <!-- RESERVATIONS - RIGHT SIDE-->
    <div style="height:100%; width:30%; padding:20px;" class="left">
        <h2>Reservations: </h2>
        <ul>
            <li th:each="reservation : ${reservations}" style="padding:7px; border:1px solid black; width: 400px;">
                <p th:text="'Reader name: ' + ${reservation.getReaderName()}"></p>
                <p th:text="'Reader address: ' + ${reservation.getReaderAddress()}"></p>
                <p th:text="'Book title: ' + ${reservation.getBookTitle()}"></p>
                <p th:text="'Number of copies: ' + ${reservation.getNumberOfCopies()}"></p>
            </li>
        </ul>
    </div>

</main>
</body>
</html>